* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @media (orientation: landscape) { */

  .container {
    background-color: #121212;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .container> :first-child {
    width: 92.5%;
  }

  .container> :last-child {
    width: 7.5%;
    height: 100%;
    /* background-color: blue; */
  }
/* } */